# dependencies
node_modules/

# next.js
.next/
out/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*

# misc
.DS_Store

# vercel
.vercel/

# dart/flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# platform-specific flutter build folders (kept in repo sometimes; ignore by default)
android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

